html {
  font-family: 'Hepta Slab', serif;
  margin: 0 7% 5% 7%;
  border: 2px solid #0f285d;
  border-top: none;
  background: #0e275d;
}
body {
  margin: 0;
}
.title-container {
  background: #0f285d;
  color: white;
  padding: 15px;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  top: 0;
}
.title-container > .title {
  font-size: 400%;
  font-weight: bolder;
}
.title-container > .timestamp {
  font-style: italic;
}
.title-container > .timestamp > .date {
  font-weight: normal;
}
.feed {
  background: white;
  padding-bottom: 20px;
}
.feed:last-child {
  margin-right: 0;
}
.feed > .title {
  display: block;
  font-size: 180%;
  margin-bottom: 10px;
  background: #0b1833;
  color: white;
  padding: 25px 15px 10px 15px;
}
.feed .items .item {
  padding: 0 15px;
  margin-bottom: 10px;
}
.feed .items .item .title {
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: 5px;
}
.feed .items .item .date {
  font-size: 90%;
}

a {
  color: #0f285d;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  font-style: italic;
}
