<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Newsflash</title>
    <link rel="icon" type="image/png" href="/assets/favicon.png">
  </head>
  <body>
    <div id="app">
      <div class="title-container">
        <div class="title">Newsflash</div>
        <div class="timestamp">Last newsflash: <span class="date"></span></div>
      </div>
      <div class="feeds"></div>
    </div>
  </body>
  <!-- dev -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="js/index.js"></script>
  <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Hepta+Slab:400,700,900&display=swap" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
</html>
